body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: #fb8500;

}

.form {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #023047;
    color: #8ecae6;
    border: 5px solid #8ecae6;
    border-radius: 15px;
    gap: 15px;
}

.btn {
    width: 75px;
    height: 30px;
    background-color: transparent;
    color: #8ecae6;
}