body {
    margin: 0;
    background-color: rgb(32, 20, 37);
    text-align: center;
    color: #fff;
}

button {
    cursor: pointer;
    background-color: rgb(92, 5, 90);
    border: 3px solid white;
    color: white;
}

input {
    background-color: rgb(155, 17, 160);
    color: white;
    border: 1px solid rgb(59, 59, 79);
}

.bold {
    font-weight: bold;
}