body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgb(243, 235, 237);
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thumb {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    background: gray;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="file"] {
    display: none;
}

label[for="file"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: hotpink;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    transition: bacground-color 0.3s;
}

label[for="file"] {
    background-color: pink;
}